<table border>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <th><%= @cat.name%></th>
    <th><%= @cat.birth_date%></th>
    <th><%= @cat.color%></th>
    <th><%= @cat.sex%></th>
    <th><%= @cat.description%></th>
  </tr>
</table>